/* font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}

/*****Landing Page******/
#landing-page {
  background-image: url('./images/cover2.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
#landing-page h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 85px;
  background-color: black;
  opacity: 0.7;
  padding: 15px;
  border-radius: 10px;
}
.store-name {
  font-family: 'Amatic SC', cursive;
  font-size: 115px;
  color: white;
  animation: drop 2.5s ease;
}
#landing-page p {
  color: white;
  font-size: 18px;
}
.call-to-action {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.btn-left {
  border-color: #d9d9d9;
  border-radius: 50px;
  width: 200px;
  margin-top: 30px;
  background: transparent;
}
a:link {
  text-decoration: none;
}
.btn-left:hover {
  background-color: #d9d6cf;
  color: black;
  opacity: 0.3;
}
.btn-right:hover {
  color: black;
  background-color: #d9d6cf;
  opacity: 0.3;
}
.btn-right {
  background-color: #d9d6cf;
  border-radius: 50px;
  width: 200px;
  margin-top: 30px;
}

button a {
  color: black;
}
.btn-left a {
  color: white;
}
.b {
  color: white;
}
/*****Store Home*****/

/*Navigation*/
/* header {
  display: flex;
  justify-content: space-around;
  background-color: #d9d6cf;
  height: 70px;
} */
h4 {
  font-family: 'Amatic Sc';
  font-size: 50px;
  font-weight: 700;
}
li {
  text-decoration: none;
  list-style-type: none;
  padding: 25px 30px 0 20px;
}
header ul {
  display: flex;
  justify-content: space-between;
}
li a {
  color: #1b2830;
}
.cart {
  margin-top: 30px;
}

/*****side navigation*****/

.side-nav {
  background-image: linear-gradient(to right, black, white, white, transparent);
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-top: 80px;
  position: fixed;
  top: 0;
  padding: 20px;
  border-radius: 15px;
  opacity: 0.6;
}
.side-nav ul {
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 50px;

  border-radius: 15px;
}
.carousel-item p {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: black;
}
.jumbotron {
  background-color: transparent;
  opacity: 0.7;
}
img {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  transition: all 1s;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  width: 400px;
  margin: 10px;
}
.box h5 {
  font-weight: bold;
  margin-top: 10px;
}
.box p {
  font-size: 14px;
}
img:hover {
  transform: scale(1.1);
}
footer {
  background-color: #1b2830;
  color: white;
  padding: 40px 0 40px 40px;
  margin-top: 100px;
}
h6 {
  font-weight: bold;
  font-size: 18px;
}
footer p {
  text-align: center;
}
header img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
footer form {
  text-align: left;
}
footer label {
  padding: 10px;
  font-size: 13px;
}
footer i {
  padding: 10px;
}
footer ul {
  display: flex;
  justify-content: center;
}

footer div {
  margin-right: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: center;
}
footer li {
  padding-right: 0px;
  margin-right: 0px;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
    color: black;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.modal-content {
  background-color: black;
  opacity: 0.4;
}
.form-1 {
  margin: 30px;
  text-align: center;
}
.form-1 h5 {
  opacity: 1;
  color: white;
  margin: 10px;
}
.main-form label {
  display: block;
  font-weight: bold;
  margin: 15px 0;
}
.main-form textarea {
  width: 500px;
}
.main-form input[type='text'],
input[type='email'] {
  width: 500px;
  border-radius: 5px;
}
.main-form {
  margin: 0 100px;
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.categories {
  display: none;
}
/*-----------------------------------------------------Media Queries--------------------------------------------------------------*/
/*-----------------------------------Iphones---------------------------------------*/
@media (max-width: 400px) {
  #landing-page h1 {
    font-size: 1.5em;
  }
  .store-name {
    font-size: 1.6em;
  }

  #landing-page p {
    padding: 0 25px;
    text-align: center;
    font-size: 13px;
  }
  .call-to-action {
    flex-direction: column;
    width: 60%;
  }
  .side-nav {
    visibility: hidden;
  }
  .side-nav ul {
    display: flex;
    flex-direction: column;
  }
  .side-nav {
    display: none;
    color: black;
    font-size: 14px;
    font-weight: bold;

    padding: 20px;
    border-radius: 15px;
  }
  .side-nav ul {
    display: flex;
    flex-direction: row;
  }
  .jumbotron {
    display: none;
  }
  .categories {
    display: inline-block;
    width: 90%;
    text-align: center;
    background-image: linear-gradient(to top, black, white, white, transparent);
    opacity: 0.8;
  }
  .categories-list {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .content {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .categories button {
    background-color: transparent;
    border-color: transparent;
  }
  .mobile {
    display: none;
  }
  footer form {
    width: 60%;

    text-align: center;
  }
  .footer-form {
    width: 40px;
  }
  footer input[type='email'] {
    width: 100px;
    border-radius: 5px;
  }
  img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    transition: all 1s;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box {
    width: 350px;
    margin: 10px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
  }
  .box h5 {
    font-weight: bold;
    margin-top: 10px;
  }
  .box p {
    font-size: 12px;
  }
  .main-form input[type='email'] {
    width: 210px;
  }
  .main-form input[type='text'] {
    width: 210px;
  }
  .main-form {
    margin: 0;
    text-align: center;
  }
  .main-form textarea {
    width: 375px;
  }
  .about {
    font-size: 0.9em;
    padding: 10px;
  }
  footer.content {
    margin-top: 10px;
    padding-top: 20px;
  }
}

/*------------------------------------------------Iphone Pluss---------------------------------------------*/
@media (min-width: 400px) and (max-width: 614px) {
  #landing-page h1 {
    font-size: 2em;
  }
  .store-name {
    font-size: 2em;
  }

  #landing-page p {
    padding: 0 40px;
    text-align: center;
    color: white;
    font-size: 15px;
  }
  .call-to-action {
    flex-direction: column;
    width: 60%;
  }
  .side-nav {
    display: none;
    color: black;
    font-size: 14px;
    font-weight: bold;

    padding: 20px;
    border-radius: 15px;
  }
  .side-nav ul {
    display: flex;
    flex-direction: row;
  }
  .jumbotron {
    display: none;
  }
  .categories {
    display: inline-block;
    width: 90%;
    text-align: center;
    background-image: linear-gradient(to top, black, white, white, transparent);
    opacity: 0.8;
  }
  .categories-list {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .content {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .categories button {
    background-color: transparent;
    border-color: transparent;
  }
  .mobile {
    display: none;
  }
  footer.content {
    margin-top: 10px;
    padding-top: 20px;
  }
  footer form {
    width: 60%;

    text-align: center;
  }
  .footer-form {
    width: 40px;
  }
  footer input[type='email'] {
    width: 100px;
    border-radius: 5px;
  }
  img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    transition: all 1s;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box {
    width: 350px;
    margin: 10px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
  }
  .box h5 {
    font-weight: bold;
    margin-top: 10px;
  }
  .box p {
    font-size: 12px;
  }
  .main-form input[type='email'] {
    width: 210px;
  }
  .main-form input[type='text'] {
    width: 210px;
  }
  .main-form {
    margin: 0;
    text-align: center;
  }
  .main-form textarea {
    width: 375px;
  }
  .about {
    font-size: 0.9em;
    padding: 10px;
  }
}

/*-------------------------Ipad----------------------------------------------*/
@media (max-width: 900px) and (min-width: 615px) {
  #landing-page h1 {
    font-size: 2em;
  }
  .store-name {
    font-size: 2em;
  }

  #landing-page p {
    padding: 0 40px;
    text-align: center;
    font-size: 1em;
  }
  .call-to-action {
    width: 80%;
    justify-content: space-around;
  }
  .side-nav {
    display: none;
    color: black;
    font-size: 14px;
    font-weight: bold;

    padding: 20px;
    border-radius: 15px;
  }
  .side-nav ul {
    display: flex;
    flex-direction: row;
  }
  .jumbotron {
    display: none;
  }
  .categories {
    display: inline-block;
    width: 90%;
    text-align: center;
    background-image: linear-gradient(to top, black, white, white, transparent);
    opacity: 0.8;
  }
  .categories-list {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .content {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .categories button {
    background-color: transparent;
    border-color: transparent;
  }
  .mobile {
    display: none;
  }
  footer form {
    width: 60%;

    text-align: center;
  }
  .footer-form {
    width: 40px;
  }
  footer input[type='email'] {
    width: 100px;
    border-radius: 5px;
  }
  img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    transition: all 1s;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box {
    width: 350px;
    margin: 10px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
  }
  .box h5 {
    font-weight: bold;
    margin-top: 10px;
  }
  .box p {
    font-size: 12px;
  }
  .main-form input[type='email'] {
    width: 210px;
  }
  .main-form input[type='text'] {
    width: 210px;
  }
  .main-form {
    margin: 0;
    text-align: center;
  }
  .main-form textarea {
    width: 375px;
  }
  .about {
    font-size: 0.9em;
    padding: 10px;
  }
  footer.content {
    margin-top: 10px;
    padding-top: 20px;
  }
}
/*---------------------------------------------Ipad pro-----------------------------------------------*/
@media (max-width: 1200px) and (min-width: 901px) {
  #landing-page h1 {
    font-size: 2em;
  }
  .store-name {
    font-size: 2em;
  }

  #landing-page p {
    padding: 0 40px;
    text-align: center;
    font-size: 1em;
  }
  .call-to-action {
    width: 60%;
    justify-content: space-around;
  }
  .side-nav {
    display: none;
    color: black;
    font-size: 14px;
    font-weight: bold;

    padding: 20px;
    border-radius: 15px;
  }
  .side-nav ul {
    display: flex;
    flex-direction: row;
  }
  .jumbotron {
    display: none;
  }
  .categories {
    display: inline-block;
    width: 90%;
    text-align: center;
    background-image: linear-gradient(to top, black, white, white, transparent);
    opacity: 0.8;
  }
  .categories-list {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .content {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .categories button {
    background-color: transparent;
    border-color: transparent;
  }
  .mobile {
    display: none;
  }
  footer form {
    width: 60%;

    text-align: center;
  }
  .footer-form {
    width: 40px;
  }
  footer input[type='email'] {
    width: 100px;
    border-radius: 5px;
  }
  img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    transition: all 1s;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box {
    width: 350px;
    margin: 10px;
    border-bottom: solid 1px;
    padding-bottom: 10px;
  }
  .box h5 {
    font-weight: bold;
    margin-top: 10px;
  }
  .box p {
    font-size: 12px;
  }
  .main-form input[type='email'] {
    width: 210px;
  }
  .main-form input[type='text'] {
    width: 210px;
  }
  .main-form {
    margin: 0;
    text-align: center;
  }
  .main-form textarea {
    width: 375px;
  }
  .about {
    font-size: 0.9em;
    padding: 10px;
  }

  footer.content {
    margin-top: 10px;
    padding-top: 20px;
  }
}
/*-------------------------------------Minimized window----------------------------------------------*/
@media (max-width: 1350px) and (min-width: 1201px) {
  #landing-page h1 {
    font-size: 3em;
  }
  .store-name {
    font-size: 1.5em;
  }

  #landing-page p {
    padding: 0 40px;
    text-align: center;
    font-size: 1em;
  }
  .call-to-action {
    width: 50%;
    justify-content: space-around;
  }
}
